.gradle
.idea

build

build-logic/build
build-logic/.gradle

modules/chat/build
modules/discord/build
modules/spawn/build

platforms/spigot/build

providers/legacy/build
providers/modern/build
providers/base/build
providers/reflection/build
providers/paper/build